.accordion {
  align-self: flex-end;
  max-width: 800px;
}

.box {
  border-bottom: 2px solid var(--themes-main-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 20px 10px 10px;
  cursor: pointer;
}

.span {
  position: relative;
  top: 0;
  left: 0;
}

.question {
  margin: 0;
}

.answer {
  padding: 0 20px 10px;
}

.accordion .span {
  transition: .3s;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}

.collapse .show {
  height: auto;
}

.rotate {
  rotate: 135deg;
  top: 6px;
  left: 3px;
}
