.line {
  position: relative;
  height: 2px;
  width: 24px;
  background: var(--themes-main-color);
  border: none;
}

.boxi {
  height: 13px;
  width: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  border: none;
  background: transparent;
  margin: 10px;
}

.boxi .line {
  transition: .5s;
}