.container {
  width: var(--width-layout);
  padding-top: var(--padding-layout);
  margin-bottom: var(--margin-layout);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
