/* main styles */
/* стили контейнера */
.container_columns {
  width: var(--width-layout);
  padding-top: var(--padding-layout);
  margin-bottom: var(--margin-layout);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap-gap);
}

.item_columns {
  grid-column: span var(--xs);
  display: flex;
}

.container_flex {
  width: var(--width-layout);
  padding-top: var(--padding-layout);
  margin-bottom: var(--margin-layout);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: var(--gap-gap);
}

.item_flex {
  flex: var(--xs);
  box-sizing: border-box;
  height: 20px;
  border: 1px solid var(--themes-main-color);
}

/* стили аккордиона */
.accordion {
  margin-left: auto;
  max-width: 800px;
}

.accordion_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.accordion_point {
  border-bottom: 2px solid var(--themes-main-color);
}

.accordion_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 20px 10px 10px;
  cursor: pointer;
}

.accordion_check {
  position: relative;
  top: 0;
  left: 0;
}

.accordion_question {
  margin: 0;
}

.accordion_answer {
  padding: 0 20px 10px;
}

.accordion .accordion_check {
  transition: .3s;
}

.accordion_collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}

.accordion_collapse .accordion_collapse__show {
  height: auto;
}

.accordion_check__rotate {
  rotate: 135deg;
  top: 6px;
  left: 3px;
}

/* стили кнопки */
.button {
  cursor: pointer;
  outline: none;
  padding: 14px 24px;
  border-radius: 50px;
  border: 2px solid var(--themes-second-color);
  background-color: var(--themes-main-color);
  font-size: 20px;
  color: var(--themes-second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button:focus {
  opacity: .9;
}

.button:hover {
  opacity: .9;
}

.button:disabled {
  background-color: var(--themes-marker-color);
  color: var(--themes-background-color);
  box-shadow: none;
  pointer-events: none;
}

/* стили кнопки-бургера */
.burger-button {
  height: 18px;
  width: 55px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: transparent;
  margin: 10px;
}

.burger-button_line {
  position: relative;
  rotate: 0;
  top: 0;
  scale: 1;
  height: 2px;
  width: 100%;
  background: var(--themes-main-color);
  border: none;
}

.burger-button .burger-button_line {
  transition: .6s;
}

.burger-button_line__up {
  rotate: 225deg;
  top: 8px;
}

.burger-button_line__down {
  rotate: -225deg;
  top: -8px;
}

.burger-button_line__one {
  scale: 0;
}

/* styles on breakpoints */
@media screen and (min-width: 600px) {
  .item_columns {
    grid-column: span var(--sm);
  }

  .item_flex {
    flex: var(--sm);
  }
}

@media screen and (min-width: 960px) {
  .item_columns {
    grid-column: span var(--md);
  }

  .item_flex {
    flex: var(--md);
  }
}

@media screen and (min-width: 1280px) {
  .item_columns {
    grid-column: span var(--lg);
  }

  .item_flex {
    flex: var(--lg);
  }
}

@media screen and (min-width: 1920px) {
  .item_columns {
    grid-column: span var(--xl);
  }

  .item_flex {
    flex: var(--xl);
  }
}